.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.category-section {
  margin-bottom: 40px;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 420px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 10px;
  background-color: #f9f9f9;
}
.product-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-title {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #000;
  line-height: 1.4;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2b9348;
  margin-top: auto;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.loader {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}
